@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.cantrol{
  margin-top: 30px;
}

audio::-webkit-controls-cantrol {
  display: flex;
  position: relative;
  background-color: #FDB777;
}

ul{
  margin-top:  0;
  padding: 0;
  list-style: none;
}

ul li{
  float: left;
  width: 150px;
  height: 40px;
  background-color: #C36721;
  opacity: .9;
  line-height: 40px;
  font-size: 20px;
}


ul li a{
  text-decoration: none;
  color: white;
  padding-left: 5px;
  display: block;
}

ul li a:hover {
  background-color: salmon;

}

ul li ul li{
  display: none;
}

ul li:hover ul li{
  display: block;
}

.container1 {
  height: 100vh;
  width: 100%;

  background-size: cover;
  /* background-color: white; */
  background-position: center;
  position: relative;
}



.content{
  width: 100%;
  position: absolute;
  top: 10%;
}

.left-col{
  margin-left: .5%;
}

.left-col h1{
  font-size: 15px;
  color: white;
  line-height: 60px;
  float: left;
}




#container {
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  width: 100%;
  height: 100%;

}

#music {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #8f3e09;
	/* filter: blur(10px) contrast(10); */
}

#audio1 {
  width: 20%;
  position: absolute;
  margin-left: .5%;
  bottom: 500px;
  display: block;

}

#fileupload {
  position: absolute;
    margin-left: 1%;
  top: 150px;
  color: white;
  background-color: #FD9346;







  z-index: 100;
}
